<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ronghui.service.mapper.ConferenceCollectionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ronghui.service.entity.ConferenceCollection">
        <id column="user_id" property="userId" />
        <result column="conference_id" property="conferenceId" />
        <result column="collect_time" property="collectTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
    </sql>

</mapper>
